.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-right:auto;
    margin-left:auto;
}

.font-bold{
    font-weight: bolder;
}

.items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.my-1{
    margin-top: 23px;
    margin-bottom: 23px
}

.my-2{
    margin-top: 23px;
    margin-bottom: 23px
}
.px-2{
    padding-left: 23px;
    padding-right: 23px
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}
.text-gold{
color: #f9cb10;
}

.btn{
    padding:4px 12px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    background-color: #f9cb10;
}

